.env
price_list.xlsx
Price_list-*.xlsx
test.py
__pycache__/formating.cpython-37.pyc
__pycache__/formating.cpython-39.pyc
__pycache__/price_exctraction.cpython-37.pyc
__pycache__/send_email.cpython-37.pyc
__pycache__/
.vscode/.pylintrc
.vscode/settings.json
run.bat
*.ipynb
venv/
